html {
	overflow: hidden;
	-ms-touch-action: none; /* Disable touch behaviors, like pan and zoom */
	-ms-content-zooming: none;
}
body {
	position: absolute;
	margin: 0px;
	padding: 0px;
	background: #000;
	width: 100%;
	height: 100%;
	font-family: 'Oswald', sans-serif;
	/*font-family: Helvetica, Arial, sans-serif;*/
}
#screen {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #F9F9F9;
	overflow: hidden;
	font-family: Segoe UI, Verdana, Arial, Sans-Serif;
	color: #fff;

}
#screen canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #F9F9F9;
	cursor: url('../images/hash-compact.png'), normal;
	/*background: black;*/
}

#screen.see canvas {
	/*cursor: url('../images/hash-large.png'), pointer;*/
	cursor: none;
}

#screen.goroom canvas {
	cursor: url('../images/goroom.png'), pointer;
}
#screen.go canvas {
	cursor: url('../images/hash-normal.png'), pointer;
	/*cursor: url('../images/diese2.png'), pointer;*/
}
#screen.gonsee canvas {
	cursor: url('../images/hash-normal.png'), pointer;
	/*cursor: url('../images/gonsee.png'), pointer;*/
}
#screen.top canvas {
	cursor: url('../images/hash-top.png'), pointer;
	/*cursor: url('../images/top.png'), pointer;*/
}
#screen.bottom canvas {
	cursor: url('../images/hash-bottom.png'), pointer;
	/*cursor: url('../images/bottom.png'), pointer;*/
}
#screen.left canvas {
	cursor: url('../images/hash-left.png'), pointer;
	/*cursor: url('../images/left.png'), pointer;*/
}
#screen.right canvas {
	cursor: url('../images/hash-right.png'), pointer;
	/*cursor: url('../images/right.png'), pointer;*/
}
#screen.top-right canvas {
	cursor: url('../images/hash-top-right.png'), pointer;
	/*cursor: url('../images/top-right.png'), pointer;*/
}
#screen.bottom-right canvas {
	cursor: url('../images/hash-bottom-right.png'), pointer;
	/*cursor: url('../images/bottom-right.png'), pointer;*/
}
#screen.top-left canvas {
	cursor: url('../images/hash-top-left.png'), pointer;
	/*cursor: url('../images/top-left.png'), pointer;*/
}
#screen.bottom-left canvas {
	cursor: url('../images/hash-bottom-left.png'), pointer;
	/*cursor: url('../images/bottom-left.png'), pointer;*/
}

#artClearView {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8); 
	/*display: none;*/
	cursor: none;
}

.art {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 800px;
	max-width: 1280px;
	height: auto;
	width: auto;
}

.html {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	border: none;
}

#audio {
	position: absolute;
	top: 10px;
	right: 10px;
	display: none;
}

#audio > img:hover {
	cursor: pointer;
}

#full-screen {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	text-align: center;
	width: 330px;
	height: 120px;
}

#artInfo {
	position: absolute;
	margin: 30px;
	padding: 5px;
	display: none;
	bottom: 0;
	right: 0;
	max-width: 200px;
	background: white;
	background: rgba(255,255,255,0.8);
	color: black;
}

#artTitle {
	font-size: 1.3em;
}

#artAuthor {
	font-size: 0.8em;
}

#artDescription {
	font-size: 0.9em;
	text-align: justify;
	margin: 5px;
	font-weight: 300;
}